input,textarea,#kat {
    margin: 20px 50px;
    scale: 1.4;
}

body {
    justify-content: center;
    text-align: center;
}

.cke {
    max-width: 50%;
    margin: auto !important;
}

#tx {
    font-size: 25px;
}